
{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{{url_for('personajes_new',key='competidores')}}" >Nuevo Personaje Competidor</a>
{% if data %}

{% for p in data %}



<hr>
<h3><a href="{{url_for('personajes',key='competidores',pk=p.id)}}"> 
    {{p.nombre_real}} 

    {% if p.apellido_real %}  

    {{p.apellido_real}}

    {% endif %}


    {% if p.universo %} ({{p.universo}}) {% endif %}

</a>
    
</h3>
{% if p.nombre_original %}  
<h5>{{p.nombre_original}}</h5>
{% endif %}
<hr>




{% endfor %}

{% endif %}

{% endblock content %}